.login-wrapper{
    padding: 20px;
    width: 100vw;
    display: flex;
    height: 100vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.form1{
    display: block;
}
.art{
    display: block;
    padding: 30px;
    background-color: aliceblue;
}